<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<table>

  <%= cl_image_tag("@cocktail.photo") %>
  <% @cocktail.doses.each do |dose| %>
    <% if dose.description == 1 %>
      <tr><td>1 dose of <%= dose.ingredient.name %></td><td><%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure you want to delete this ingredient from the cocktail?"} %></td></tr>
    <% else %>
      <tr><td><%= dose.description %> doses of <%= dose.ingredient.name %></td><td><%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure you want to delete this ingredient from the cocktail?"} %></td></tr>
    <% end %>
  <% end %>
</table>

<%= simple_form_for [@cocktail, @dose], html: { class: "form-inline"} do |f| %>
  <%= f.input :description, label: "Amount:", required: false, as: :integer, input_html: { style: 'width: 70px'} %>
  <%= f.association :ingredient, label: "dose(s) of", prompt: "Select an ingredient", collection: Ingredient.order('name ASC'), required: false  %>
  <%= f.button :submit, name: "commit", value: "Add" %>
<% end %>

<%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail?"} %>


<%= link_to "Go back to overview", root_path %>
